TS3_HOST=your_server_ip
TS3_PORT=9987
TS3_NICKNAME=MrFree
TS3_IDENTITY=your_exported_identity_string
CHECK_INTERVAL_HOURS=12
POKE_DELAY_MS=1200
REDRX_API_KEY=your_redrx_api_key
# TS3_TARGET_NICK=Daniel

# Database (Postgres)
DB_USER=ts3bot
DB_PASS=ts3botpass
DB_NAME=ts3news
DATABASE_URL=postgres://ts3bot:ts3botpass@db:5432/ts3news?sslmode=disable
